## 哈希表

In [1]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
from random import choice
%matplotlib inline

In [2]:
def Hash(x):
    return (x*7)%5

In [3]:
class HashTable:
    def __init__(self,h,n):
        self.h = h
        self.buckets = [ [] for i in range(n) ]
        
    def insert(self, x):
        self.buckets[self.h(x)].append(x)
        
    def delete(self,x):
        bucket = self.buckets[self.h(x)]
        for i in range(len(bucket)):
            if bucket[i] == x:
                return bucket.pop(i)
        return None
    
    def find(self,x):
        bucket = self.buckets[self.h(x)]
        for i in range(len(bucket)):
            if bucket[i] == x:
                return bucket[i]  
        return None

In [4]:
HT=HashTable(Hash,5)
HT.insert(7)
HT.insert(5)
HT.insert(3)
HT.insert(4)
HT.insert(1)
HT.insert(2)
HT.insert(8)

In [6]:
print(HT.buckets)

[[5], [3, 8], [1], [4], [7, 2]]

In [13]:
import sqlite3

In [42]:
db = sqlite3.connect("university3.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS students(
id integer PRIMARY KEY, 
name text NOT NULL, 
gender text NOT NULL, 
age integer NOT NULL);""")

In [43]:
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(1, 'zhangsan', 'male', 18)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(2, 'lisi', 'female', 19)""")
cursor.execute("""INSERT INTO students(id, name, gender, age) 
VALUES(3, 'wangwu', 'male', 17)""")
db.commit()
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())
db.close()

[(1, 'zhangsan', 'male', 18), (2, 'lisi', 'female', 19), (3, 'wangwu', 'male', 17)]

In [34]:
db = sqlite3.connect("university2.db")
cursor=db.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS class
(id integer PRIMARY KEY, name text NOT NULL, teacher text NOT NULL);""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(100, 'Python', 'CZ')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(101, 'Algorithm', 'GM')""")
cursor.execute("""INSERT INTO class(id, name, teacher) 
VALUES(102, 'SQL', 'WX')""")
db.commit()
cursor.execute("SELECT * FROM class")
print(cursor.fetchall())
db.close()

[(100, 'Python', 'CZ'), (101, 'Algorithm', 'GM'), (102, 'SQL', 'WX')]